@forward 'global';

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;


    div {
        display: flex;
        flex: 3 1 auto;
        padding-right: 10%;
        padding-left: 10%;
    }
}

$dark-background: #1F2937;
$white-color-1: #F9FAF8;
$white-color-2: #E5E7EB;
$blue-background: #3882F6;

.header,
.footer {
    height: 75px;
    flex-grow: 0;
    background-color: $dark-background;
}

.header {
    padding-top: 15px;
    justify-content: space-between;
    align-items: flex-start;


    .header__logo {
        margin: 0;
        color: $white-color-1;
        font-size: 24px;
    }

    .header__links {
        margin: 0;
        display: flex;
        list-style: none;
        gap: 5px;
        a {
            color: $white-color-2;
            font-size: 18px;
        }
    }
}

.footer {
    color: $white-color-2;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.sec1 {
    background-color: $dark-background;
    align-items: center;

    .container {
        padding: 0;
        .sec1__left {
            padding: 0;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            

            .title {
                color: $white-color-1;
                font-weight: bolder;
                font-size: 48px;
                margin: 0;
            }

            .left-sec__subtext {
                color: $white-color-2;
                font-size: 18px;
                margin: 0;
            }

            .left-sec__button {
                display: flex;
                width: 30%;
                justify-content: center;
                margin-top: 5px;
                padding: 5px 0px;
                border-radius: 5px;
                background-color: $blue-background;
                color: $white-color-1;
                font-weight: 700;
                font-size: 18px;
            }
        }
    
        .sec1__img {
            align-items: center;
            color: $white-color-2;
            background-color: gray;
        }
    }
}

.sec2 {
    background-color: white;
    align-items: center;
    flex-grow: 1;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            margin: 0;
            font-size: 36px;
            font-weight: 900;
            color: #1F2937;
            margin-bottom: 2rem;
        }

        .lower-container {
            display: flex;
            padding: 0;
            gap: 2rem;
            padding-bottom: 15px;

            .sub-container {
                display: flex;
                flex-direction: column;
                padding: 0;

                .img {
                    border: 3px solid $blue-background;
                    border-radius: 5px;
                    height: 100px;
                }
                .subtext {
                    color: $dark-background;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}

.sec3 {
    align-items: center;
    background-color: #E5E7EB;

    .container {
        flex-direction: column;
        justify-content: center;

        .quote {
            font-size: 36px;
            font-style: italic;
            color: #1F2937;
            font-weight: 300;
            margin: 0;
            margin-bottom: -12px;
        }

        .speaker {
            margin: 0;
            text-align: end;
            padding-right: 15px;
        }
    }
}